spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  mongodb:
    uri: ${DB_URI}
    database: ${DB_DATABASE}


server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "*"