#spring.application.name=configserver
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  application:
    name: configserver
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\EcomJavaMicoserviceBackend\configserver\src\main\resources\config
server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: "*"